<form role="form" tiny-submit="createGroup(dataForm)" class="form-horizontal ng-pristine ng-valid">
    <div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Create Group <span ng-if="titlePer.length > 0">: </span><span class="tiny-title-bind" ng-bind="titlePer"></span></h4>
	</div>
	
	<div class="modal-body">
            
            <div class="form-group">
				<label class="col-sm-3 control-label" for="title">Group Title</label>

				<div class="col-sm-9">
					<input required type="text" ng-model="titlePer" class="form-control" name="title" id="title" placeholder="Permission Title">
				</div>
			</div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label" for="title">For</label>
                
                <div class="col-sm-9">
                    <select required class="form-control tiny-selectbox" name="type">
                    	<option value="1">Admin</option>
                        <option value="0">Users</option>
                    </select>
                </div>
            </div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="submit" class="btn btn-info">Save changes</button>
	</div>
</form>