<div ui-view>
    <div class="my-carousel">
        <tn-slider obj-slider="bannerSlide"></tn-slider>
    </div>
    
    <div class="container">
        <tn-title title="{title_page}" description="{description}"></tn-title>
        <div class="clearfix"></div>
        <div class="row all-product">
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
            
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
            
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
            
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
            
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
            
            <a href="15-photo-books/12-mini-photobook" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Mini Photobook</p>
            </a>
        </div>
    </div>
    
    <div class="product-explore parentScroll">
        <div class="container">
            <tn-title title="Explore"></tn-title>
        </div>
        
        <div class="explore-slide">
            <tn-slider obj-slider="objExplore" scroll-to="true" image="true" center="true" nav="true" items="3" margin="20" loop="true"></tn-slider>
        </div>
    </div>
    
    <div class="container about-us">
        <tn-title style="margin: 0 0 -20px -4px" title="Material"></tn-title>
        <div class="content">
            <p style="text-align: justify;">In 2004, as a recent college graduate, spending money was hard to come by. My husband Matty was getting his elementary teaching license and we lived paycheck to paycheck, finding happiness camping almost every weekend.&nbsp; Life was simple&ndash;but awesome. Rafting down the Green River that summer, a family of otters followed us for five days. I couldn't get a good picture of them to save my life. I was determined to come home from that trip and learn how to use a real camera&ndash;you know, the kind with lenses and all sorts of functions I didn't understand. However, funds were short&ndash;and saving for such a toy was going to take time.</p>
            <p style="text-align: justify;">Three days after this trip, I told my father-in-law that I wanted to learn photography. The next day, I kid you not, he found a camera sitting next to a dumpster in a shiny metal case&ndash;lenses and all.&nbsp; The abandoned camera&ndash;it turns out&ndash;had once belonged to a local hospital. No longer a part of their inventory, they said it was ours to keep.</p>
            <p style="text-align: justify;">Sometimes the world shouts at you to take life in a different direction&ndash;and&nbsp;we&nbsp;did just that. One year later, I quit my job to become a professional photographer. Six months later my sister Katie and husband Matt joined me. We've been working together as creatives ever since.</p>
        </div>
    </div>
</div>