<div class="container">
    <tn-title class="long" title="{title_page}" description="{description}"></tn-title>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col s12 m5 l5">
            <div class="product-image my-carousel d">
                <tn-slider obj-slider="listImage" tinydetailphotobook="true" image="true" items="1"></tn-slider>
            </div>
            <div class="explore-product-thumb slide-nav">
                <tn-slider responsive="res" obj-slider="listThumbnail" isNav="tinydetailphotobook" image="true" nav="true" items="5" margin="10"></tn-slider>
            </div>
        </div>
        <div class="col s12 m7 l7 product-info">
            <h4>SOFT COVER PHOTOBOOK</h4>
            <p>The signature line in our product suite, this premium quality photo book is custom bound in fabric with your choice of a full-sized or partial dust jacket.</p>
            <br />
            <h4>DETAIL</h4>
            <p>Sizes:  Square (8.5x8.5"), Landscape (11x8.25") or Vertical (8.25x11")</p>
            <p>Printed Page Stock:  Mohawk Options 100% PC White (100% recycled with matte finish)</p>  
            <p>Dust Jacket:  Full or Partial, Smooth Matte Finish</p>
            <p>Cover Fabric:  7 colors to choose from</p>
            <p>Production Time:  8 business days + ship time</p>
            <br>
            <button class="btn btn-large grey darken-4 waves-effect waves-light">BUY IT</button>
        </div>
    </div>
<tn-title title="Explore"></tn-title>
</div>

<div class="product-explore s">
    <div class="container parentScroll">
        <div class="explore-photobook-slide">
            <tn-slider responsive="res_bottom" obj-slider="objPhotobook" scroll-to="true" image="true" nav="true" items="5" margin="10"></tn-slider>
        </div>
    </div>
</div>