<div ui-view>
    <div class="container">
        <tn-title class="long" title="{title_page}" description="{description}"></tn-title>
        <div class="clearfix"></div>
        <div class="row all-product">
            <a href="#!product/15-photo-books/12-mini-book/1-soft-cover" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Soft Cover</p>
            </a>
            
            <a href="#!product/15-photo-books/12-mini-book/1-soft-cover" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Soft Cover</p>
            </a>
            
            <a href="#!product/15-photo-books/12-mini-book/1-soft-cover" class="col m6 l4 s12">
                <img class="responsive-img" src="#!10.jpg" />
                <p>Soft Cover</p>
            </a>
        </div>
    </div>
    
    <div class="product-explore">
        <div class="container parentScroll">
            <tn-title class="center" title="Photobook Explore"></tn-title>
        
            <div class="explore-photobook-slide">
                <tn-slider scroll-to="true" obj-slider="objPhotobook" image="true" nav="true" items="5" margin="10"></tn-slider>
            </div>
        </div>
    </div>
</div>