<form role="form" tiny-submit="formSubmit(dataForm, action)" class="form-horizontal validate">
    <div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{(productid == null || itemid == null)  ? 'Edit' : 'Add New Product'}} <span ng-if="titlePer.length > 0">: </span><span class="tiny-title-bind" ng-bind="titlePer"></span></h4>
	</div>
	
	<div class="modal-body">
            
            <div class="form-group">
				<label class="col-sm-3 control-label" for="name">Product Name</label>

				<div class="col-sm-9">
					<input data-validate="required" type="text" ng-model="titlePer" class="form-control" name="name" id="name" placeholder="Product Name">
				</div>
			</div>
            
            <div class="form-group">
				<label class="col-sm-3 control-label" for="description">Description</label>

				<div class="col-sm-9">
					<textarea class="form-control" name="description" rows="4" placeholder="Product Description">{{description}}</textarea>
				</div>
			</div>
            
            <div class="form-group">
				<label class="col-sm-3 control-label" for="title">Product Image</label>

				<div id="main" class="col-sm-9">
					<a id="drop-element" class="thumbnail drop-target" size-required="400,400" not-thumb="true" on-uploaded="uploadComplete(respon, file)" folder="product" tiny-upload="true"><img image_target ng-src="{{imagethumb}}" class="img-responsive" /></a>
				</div>
			</div>
            <input type="hidden" ng-if="productid" ng-value="productid" name="product_id" />
            <input type="hidden" ng-if="itemid" ng-value="itemid" name="item_id" />
            <input type="hidden" name="image" ng-value="image" id="image_src" />
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="submit" class="btn btn-info">Save changes</button>
	</div>
</form>