@import url("fonts/brandon_blk.css");
.icon-block {
  padding: 0 15px;
}
.slider.fullscreen ul.slides{
    background-color: #fff;
    background-size: cover;
}
a{
    color: #212121
}

body, html{
    height: 100%;
}

body{
    font-style:normal;
    font-weight:400;
    overflow-x: hidden;
}

.btn, .btn-large, .btn-flat{
    box-shadow: none;
    border-radius: 0;
}

.btn:hover{
    box-shadow: none;
}

.tiny-fw{
    min-height: 100%;
    margin-bottom: -50px;
    
    display: flex;
    flex-flow: column;
}
.tiny-fw:after{
    content: " ";
    display: block;
}
footer, .tiny-fw:after{
    height: 50px;
}

#main{
    position: relative;
    flex: 1 1 auto;
    display: flex;
}
#main + #main{
    display: none;
}

.container.s{
    padding: 0;
    max-width: 1024px;
}
.section{
    width: 100%;
}

.tiny-mobile{
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.btn, .btn-large{
    background: #616161
}
.btn:hover, .btn-large:hover{
    background: #757575
}

button:focus{
    background-color: #616161
}

.tiny-navigation{
    border-top: 45px solid #983838;
}
.tiny-navigation > nav.header-fixed-shrink{
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.95) !important;
    height: 65px;
    line-height: 65px;
}

.tiny-navigation > nav.header-fixed-shrink *{
    line-height: 65px;
}

.tiny-navigation > nav.header-fixed-shrink a#logo-container{
    font-size: 2.5rem;
}

.tiny-navigation > nav:not(.header-fixed-shrink) + nav{
    display: none;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: 85px;
    line-height: 85px;
    box-shadow: none;
    transition: all 0.3s;
}
nav ul#nav-mobile-left{
    float: left;
    text-align: left;
}

nav ul#nav-mobile-right{
    float: right;
    text-align: right;
}
nav a{
    color: #000 !important;
    text-transform: uppercase;
}
nav a:hover{
    color: #888 !important;
}
a#logo-container{
    font-size: 3.5rem;
}

.title-page{
    width: 100%;
    clear: both;
    margin-bottom: 25px;
    display: inline-block;
}

.title-page.no-bottom{
    margin-bottom: 0;
}

.title-page h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    float: left;
    margin: 0;
    font-weight: 300;
}
.title-page.center small{
    display: none;
}
.title-page.center h1{
    float: none;
}

.title-page small{
    float: left;
    padding-top: 2.4rem;
    padding-left: 1rem;
    font-size: 80%;
}
.title-page.long small{
    padding: 0;
}

footer.page-footer{
    background: #fff;
    margin-top: 0;
    padding-top: 0;
}

.all-product > a{
    color: #888;
}

.all-product > a:hover{
    color: #000;
}
.all-product > a:hover > img{
    opacity: 0.7;
}

.all-product > .col{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.all-product > .col p{
    margin-top: 0
}


.owl-carousel .item {
    background: #FAFAFA;
}

.owl-carousel .owl-item img {
  transform-style: flat !important;
}

.my-carousel:not(.d) .owl-carousel .item a{
    height: 30rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 59%;
}

.blog-list{
    margin-bottom: 50px;
}

.blog-list .post .post-title{
    border-bottom: 1px solid #888;
}

.blog-list .post .post-title p.pdate{
    float: left;
    text-transform: uppercase;
}

.blog-list .post .post-title h4{
    float: right;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0;
}

.post-info{
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0;
}

.post-info p:first-child{
    margin-bottom: 0;
}

.post-info p:last-child{
    margin: 0;
}

.categories-list{
    border-top:  1px solid #888;
}

.product-explore{
    background-color: #534741;
    padding-bottom: 60px;
}
.product-explore.s{
    padding-top: 80px;
}

.product-explore .title-page h1{
    color: #fff;
}

.product-explore .explore-slide .owl-item:not(.center){
    opacity: 0.3;
}

.product-explore .explore-slide .owl-controls .owl-nav [class*=owl-]{
    background: #000;
}

.product-image .owl-controls .owl-nav [class*=owl-]{
    top: 48% !important;
}

[class*=explore-] .owl-controls .owl-nav{
    height: 0;
}
[class*=explore-] .owl-controls .owl-nav .owl-next{
    position: absolute;
    right: 1%;
    top: 47%;
    padding: 6px 15px !important;
}

[class*=explore-] .owl-controls .owl-nav .owl-prev{
    position: absolute;
    left: 1%;
    top: 47%;
    padding: 6px 15px !important;
}
.explore-photobook-slide .owl-controls .owl-nav [class*=owl-]{
    top: 42%;
    background: transparent !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.explore-photobook-slide .owl-controls .owl-nav .owl-next{
    right: -5%;
}

.explore-photobook-slide .owl-controls .owl-nav .owl-prev{
    left: -5%;
}

.explore-product-thumb .owl-controls .owl-nav .owl-prev{
    left: -9%;
}

.explore-product-thumb .owl-controls .owl-nav .owl-next{
    right: -9%;
}

.about-us{
    margin-bottom: 50px;
}

.about-us h3, .about-us h4, .about-us h2, .about-us h1, .about-us h5{
    font-size: 1.5rem;
    margin: 0;
} 

.product-info h4{
    font-size: 1.3rem;
    margin: 0;
}
.product-info p{
    margin: 0;
    line-height: 1.4;
}

.explore-product-thumb .owl-controls .owl-nav [class*=owl-]{
      top: 28%;
      background: #fff !important;
      color: #000 !important;
}

.comment-list .comment{
    border-bottom: 1px dashed #888;
    display: inline-block;
}

.comment-list .comment .cmt-info{
    float: right;
}

.comment-list .comment .cmt-info > p{
    float: left;
    margin-top: 0;
}

.comment-list .comment .cmt-info > p.name{
    font-weight: bold;
    border-left: 1px solid #888;
    padding-left: 10px;
    margin-left: 10px; 
}

.add-comment h5{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.add-comment > small{
    margin-bottom: 20px;
    display: block;
}

.slide-nav .item{
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.slide-nav .item:hover{
    opacity: 1;
}

.slide-nav .item.s{
    opacity: 1;
}

.rounded-x {
  border-radius: 50% !important;
}

/*News v3
------------------------------------*/
/*News Posts*/
.news-v3 {
  background: #fff;
  display: inline-block;
  width: 100%;
}

.news-v3 + .news-v3{
  padding-top: 35px;
  border-top: 1px solid #ccc;
  margin: 25px 0;
}

.news-v3 .news-v3-in {
  padding: 0 0 35px;
}

.news-v3 .news-v3-in-sm {
  padding: 20px;
}

.news-v3 h2 {
  font-size: 32px;
  font-weight: 200;
  margin: 0 0 20px;
  line-height: 45px;
  text-transform: uppercase;
}

.news-v3 .news-v3-in-sm h2 {
  font-size: 22px;
  margin: 0 0 15px;
  line-height: 30px;
  text-transform: inherit;
}

@media (max-width: 768px) {
  .news-v3 h2 {
    font-size: 22px;
    line-height: 30px;
  }
}

.news-v3 h2 a {
  color: #555;
}

.news-v3 h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}

.news-v3 p {
  color: #555;
  margin-bottom: 20px;
}

/*News Info*/
.news-v3 .posted-info li {
  color: #555;
  font-style: italic;
  float: left;
  padding-right: 10px;
}


.news-v3 .news-v3-in-sm .posted-info li {
  padding: 0;
  font-size: 12px;
  padding-left: 5px;
}

.news-v3 .posted-info li:before,
.news-v3 .news-v3-in-sm .posted-info li:before {
  content: '/';
}

.news-v3 .posted-info li:before {
  font-size: 12px;
  line-height: 12px;
  margin-right: 13px;
}

.news-v3 .news-v3-in-sm .posted-info li:before {
  font-size: 11px;
  line-height: 11px;
  margin-right: 9px;
}

.news-v3 .posted-info li:first-child:before,
.news-v3 .news-v3-in-sm .posted-info li:first-child:before {
  content: " ";
  margin-right: 0;
}

.news-v3 .posted-info li a {
  color: #555;
}

.news-v3 .posted-info li a:hover {
  color: #72c02c;
}

/*News Shares*/
.news-v3 .post-shares {
  padding-left: 0;
  list-style: none;
  margin: 40px 0 0 -5px;
  float: left;
}

.news-v3 .post-shares + a{
    float: right;
    display: inline-block;
    margin-top: 48px;
}

.news-v3 .news-v3-in-sm .post-shares {
  margin: 20px 0 0 -5px;  
}

.news-v3 .post-shares li {
  position: relative;
  padding: 0 10px 0 5px;
  display: inline-block;
}

.news-v3 .post-shares li i {
  color: #555;
  width: 40px;
  height: 40px;
  padding: 13px;
  font-size: 16px;
  background: #eee;
  text-align: center;
  display: inline-block;
}

.news-v3 .post-shares li i:hover {
  background: #ddd;
}

.news-v3 .post-shares li span {
  top: -5px;
  right: 6px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  background: #404040;
  border: 2px solid #fff;
  border-radius: 50% !important;
}

.news-v3 .post-shares-lg li span {
  top: -10px;
  right: 0px;
  width: 29px;
  height: 29px;
  padding: 4px;
  font-size: 10px;
  line-height: 16px;
}

.sidebar-v2 h4{
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
  border-top: 1px solid #000;
}

.sidebar-v2 ul.list-items{
    margin-top: 0;
    margin-bottom: 25px;
}

.sidebar-v2 ul.list-items li {
  text-transform: capitalize;
  line-height: 1.9;
}

ul.recent-post li{
    margin-bottom: 10px;
}

.sidebar-v2 ul.list-items li a{
    display: block;
    width: 100%;
}

.sidebar-v2 ul.list-items li a + small{
    display: block;
    margin-top: -1px;
}

.sidebar-v2 ul.list-items li a:hover{
    color: #888;
}

.mobile-tiny-video{
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.mobile-tiny-video .embed-responsive-item, .mobile-tiny-video iframe, .mobile-tiny-video embed, .mobile-tiny-video object, .mobile-tiny-video video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #212121;
    box-shadow: none;
}

.ui-view-container {
  position: relative;
  min-height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  top: 10px;
}

[ui-view].ng-enter-active {
  opacity: 1;
  top: 0;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
  display: none;
}