<div class="my-carousel">
    <tn-slider obj-slider="bannerSlide"></tn-slider>
</div>

<div class="container">
    <tn-title class="no-bottom" title="{title_page}" description="{description}"></tn-title>
    <div class="about-us">
        <div class="grid12-12">
        <div class="feature-icon-hover indent large middle-icons">
        <h3 style="text-align: left;">BEGINNINGS</h3>
        </div>
        </div>
        <div class="grid12-12">
        <div class="grid12-8 no-left-gutter">
        <div class="feature-icon-hover indent large middle-icons">
        <p style="text-align: left;">In 2004, as a recent college graduate, spending money was hard to come by. My husband Matty was getting his elementary teaching license and we lived paycheck to paycheck, finding happiness camping almost every weekend.&nbsp; Life was simple&ndash;but awesome. Rafting down the Green River that summer, a family of otters followed us for five days. I couldn't get a good picture of them to save my life. I was determined to come home from that trip and learn how to use a real camera&ndash;you know, the kind with lenses and all sorts of functions I didn't understand. However, funds were short&ndash;and saving for such a toy was going to take time.</p>
        <p style="text-align: left;">Three days after this trip, I told my father-in-law that I wanted to learn photography. The next day, I kid you not, he found a camera sitting next to a dumpster in a shiny metal case&ndash;lenses and all.&nbsp; The abandoned camera&ndash;it turns out&ndash;had once belonged to a local hospital. No longer a part of their inventory, they said it was ours to keep.</p>
        <p style="text-align: left;">Sometimes the world shouts at you to take life in a different direction&ndash;and&nbsp;we&nbsp;did just that. One year later, I quit my job to become a professional photographer. Six months later my sister Katie and husband Matt joined me. We've been working together as creatives ever since.</p>
        <p style="text-align: left;">We worked as professional photographers for 8 years&ndash;making permanence of experiences that move minds and hearts. As one click of the shutter turned to another turned to hundreds of thousands of photos, we realized our documented lives were sitting on our phones and computers with no true place to live on. It&rsquo;s something we kept coming back to&ndash;&lsquo;What are we leaving behind?&rsquo;</p>
        <p style="text-align: left;">This question spiraled into experiments that included baking photo books in our oven (yes, you can bake books in your oven&ndash;though I can&rsquo;t say we were successful!) and eventually into dreams of a photo book business.</p>
        </div>
        </div>
        </div>
        <div class="grid12-12">
        <div class="grid12-4 no-right-gutter">
        <div class="feature-icon-hover indent large middle-icons">
        <h3 class="pad10">STAYING THE COURSE</h3>
        <p>We spent the next two years ideating, prototyping, failing and beginning again. We scrapped everything and started over. Again and again.</p>
        <p>Somehow - with a kind of serendipity much like finding that first camera - doors opened where there might have otherwise been dead ends. Sometimes the world whispers &lsquo;Stay the course.&rsquo; And that we did.</p>
        <p>We continued to create an authentic, creativity-driven business as best as we would know how. We knew our choices for this unborn company needed to sit right in our hearts. And they needed to sit right with the wild places we love so much - places that feed MY soul; places that will feed my children&rsquo;s souls. And so we focused on creating products that were congruent with our own beliefs - sourcing recycled papers for our book pages and wood products made from locally-sourced fallen beetle-kill pine. We wanted to give good materials a second life.</p>
        </div>
        </div>
        </div>
        <div class="grid12-12">
        <div class="grid12-8 no-left-gutter">
        <div class="feature-icon-hover indent large middle-icons">
        <h3 class="pad10">PRESSING PLAY</h3>
        <p>With gratitude in our hearts and nervous energy running through our bones, we launched Artifact Uprising on October 9th, 2012 from our basement.</p>
        <p>I will never forget the first order that came through by photographer Jeff Gleason &ndash; the very. first. order. Thank you Jeff. Or to Holly Becker at <a href="http://decor8blog.com/2012/10/17/turn-your-instagram-pics-into-a-book-with-artifact-uprising/" target="_blank">Decor8</a> for sharing our photo books on her blog &ndash; your words inspired many and changed the course of our company. We cannot say thank you enough. To the first day when over 7,000 of you visited the site &ndash; to the first 1 million images uploaded into the databases. To the bloggers and photographers, for all of your tweets and pins &ndash; the big guys and the little guys. Thank you. We are humbled.</p>
        <p>Since that day, we've grown from three people working in a basement to a team of fourteen - yet the roots remain the same. We pride ourselves on being an authentic company &mdash; and we think that matters. Because at the end of the day, we take it personally. All of it.</p>
        </div>
        </div>
        </div>
        <div class="grid12-12">&nbsp;</div>
    </div>
</div>