<div class="my-carousel">
    <tn-slider obj-slider="bannerSlide"></tn-slider>
</div>

<div class="container">
    <tn-title title="{title_page}" description="{description}"></tn-title>
    <div class="clearfix"></div>
    <div class="row">
        <div class="blog-list col l9 m9 s12" ui-view>
            <div class="news-v3">
                <div class="image-post">
                    <img class="responsive-img" src="#!11.jpg" />
                </div>
                
                <div class="news-v3-in">
                    <ul class="list-inline posted-info">
                        <li>By <a href="#">TinyGiant</a></li>
                        <li>In <a href="#">Design</a></li>
                        <li>Posted July 2, 2015</li>
                    </ul>
                </div>
                <h2><a href="blog/1-fairy-tale-little-kevin">Fairy Tale Little Kevin.</a></h2>
                <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="news-v3">
                <div class="image-post">
                    <img class="responsive-img" src="#!11.jpg" />
                </div>
                
                <div class="news-v3-in">
                    <ul class="list-inline posted-info">
                        <li>By <a href="#">TinyGiant</a></li>
                        <li>In <a href="#">Design</a></li>
                        <li>Posted July 2, 2015</li>
                    </ul>
                </div>
                <h2><a href="blog/1-fairy-tale-little-kevin">Fairy Tale Little Kevin.</a></h2>
                <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
        
        <div class="sidebar-v2 col l3 m3 s12">
            <h4>Categories</h4>
            <ul class="list-items">
                <li><a href="#">New Born</a></li>
                <li><a href="#">Baby</a></li>
                <li><a href="Maternity">Maternity</a></li>
            </ul>
            
            <h4>Recent Posts</h4>
            <ul class="list-items recent-post">
                <li>
                    <a href="#">Praesent tincidunt ornare tortor.</a>
                    <small class="clearfix">23 Jan, 2015 / Art, Lifestyles</small>
                </li>
                
                <li>
                    <a href="#">Nunc leo leo, faucibus non gravida.</a>
                    <small class="clearfix">23 Jan, 2015 / Art, Lifestyles</small>
                </li>
                
                <li>
                    <a href="#">Proin dapibus ornare magna.</a>
                    <small class="clearfix">23 Jan, 2015 / Art, Lifestyles</small>
                </li>
                
                <li>
                    <a href="#">Donec quis consequat magna....</a>
                    <small class="clearfix">23 Jan, 2015 / Art, Lifestyles</small>
                </li>
            </ul>
    </div>
</div>
</div>